@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Codystar|Press+Start+2P|Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=Heebo');
//Colors
$primary-color: #efeaea;
$default-color: #252323;
//Fonts
$menu-font: 'Heebo',
sans-serif;
$geek-font: 'Press Start 2P',
cursive;
$book-letter: 'Goudy Bookletter 1911',
serif;
//Borders
$bracket: 4px solid $primary-color;
//Margin
$section-bottom: 0 0 4em 0;