@import "_variables";
body {
    // width: 100%;
    // height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $default-color;
}

/*Main video*/

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    zoom: 40%;
}

.main-front {
    opacity: .5;
}

// #particles-js {
//     position: absolute;
//     width: 100%;
//     height: 100%; // background-color: #000;
//     // background-image: url(../img/desert.jpg); // background: #fff;
// }
/*Main menu*/

header {
    height: 100vh;
    position: relative;
    background-image: url(../img/desert-small.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin: $section-bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1411764705882353);
    z-index: 10;
    position: relative; // background-color: rgba(0, 0, 0, 0.72);
    @media(max-width: 600px) {
        display: none;
    }
    ul {
        margin-right: 2em;
        li {
            display: inline;
            padding-right: 0.5em;
            font-family: $main-font;
            text-transform: uppercase;
            a.underline {
                text-decoration: none;
                color: $primary-color;
                display: inline;
                position: relative;
                overflow: hidden;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    width: 0;
                    bottom: -5px;
                    background: $primary-color;
                    height: 2px;
                    transition-property: width;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-out;
                }
                &:hover:after,
                &:focus:after,
                &:active:after {
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
}

.title {
    text-align: center;
    .text {
        display: inline-block;
        border: 2px solid rgba(144, 103, 55, 0.51);
        padding: 1em;
        font-family: $main-font;
        border-radius: 1%;
        background-color: rgba(80, 106, 97, 0.4117647058823529);
        @media(max-width: 600px) {
            margin-top: 10em;
        }
        h1 {
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            @media(max-width: 500px) {
                font-size: 1.5em;
            }
            @media(max-width: 400px) {
                font-size: 1em;
            }
        }
        p {
            color: #fff;
            @media(max-width: 500px) {
                font-size: 1em;
            }
            @media(max-width: 400px) {
                font-size: 0.9em;
            }
        }
        span {
            color: rgba(100, 234, 190, 0.4);
        }
    }
}

// .main-section {
//     display: flex;
//     align-items: center;
//     padding: 6em;
//     margin-bottom: 6em;
//     .title {
//         width: 100%;
//         position: relative;
//         background-color: rgba(0, 0, 0, 0.7);
//         .left-bracket {
//             border-top: $bracket;
//             border-bottom: $bracket;
//             border-left: $bracket;
//             position: absolute;
//             width: 40%;
//             top: 0;
//             bottom: 0;
//         }
//     }
//     .right-bracket {
//         border-right: $bracket;
//         border-top: $bracket;
//         border-bottom: $bracket;
//         position: absolute;
//         width: 40%;
//         top: 0;
//         right: 0;
//         bottom: 0;
//     }
//     h1 {
//         text-align: center;
//         font-size: 5em;
//         font-family: $main-font;
//         color: $primary-color;
//         @media(max-width: 889px) {
//             font-size: 3em;
//         }
//         @media(max-width: 600px) {
//             font-size: 2em;
//         }
//         @media(max-width: 421px) {
//             font-size: 1em;
//         }
//     }
// }
/*About*/

.about {
    overflow: hidden;
    width: 100%; // height: 700px;
    background-image: url(../img/spiration-light.png);
    position: relative;
    font-family: $main-font;
    h2 {
        // margin: 1em auto;
        color: #4d9a85;
        text-align: center;
        margin-top: 2.6em;
        margin-bottom: -2em;
    }
    .move-elements {
        margin: 1em auto;
        display: block; // position: absolute;
        width: 80%;
        p {
            font-size: 1.2em;
            line-height: 1.8;
            text-align: justify;
        }
    }
    .about-text {
        top: 5em;
        border-radius: 0.5em;
        p {
            color: rgb(144, 129, 89);
            padding: 2em;
        }
    }
}

/*Skills*/

.skills {
    position: relative;
    background-image: url(../img/code.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 2em;
    text-align: center;
    .background-color {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(93, 121, 110, 0.88);
    }
    h2 {
        font-family: $main-font;
        color: #fff;
        z-index: 100;
        position: relative;
    }
    .box {
        width: 30%;
        display: inline-block;
        @media(max-width: 760px) {
            width: 48%;
        }
        @media(max-width: 435px) {
            width: 100%;
        }
        img {
            margin: 2em 0;
            height: 100px;
            width: auto;
        }
        #myProgress {
            width: 100%;
            background-color: #ddd;
        }
        #myBar {
            width: 10%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    }
}

/*Projects*/

.projects {
    background-color: #fff;
    h2,
    h3 {
        text-align: center;
        font-family: $main-font;
        color: #4d9a85;
    }
    h3 {
        color: #7ab560;
    }
    .projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @media(max-width: 782px) {
            flex-wrap: wrap;
        }
        .project-box {
            margin: 1em;
            text-align: center;
            img {
                width: 100%;
            }
            p {
                display: inline-block;
                text-align: left;
                padding: 1em 3em;
                color: rgb(143, 129, 88);
            }
        }
        .apps-box {
            // img {
            //     width: 100%;
            // }
            padding: 5em;
            font-family: $main-font;
            color: rgb(143, 129, 88);
        } // .apps-box-text {
        //     padding: 5em;
        //     font-family: $main-font;
        //     color: rgb(143, 129, 88);
        // }
    }
}

/*Contact*/

.contact {
    position: relative;
    background: blue;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

#backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    width: 50px;
    height: 50px;
    &:hover {
        cursor: pointer;
    }
}

// canvas {
//     display: block;
//     vertical-align: bottom;
// }
.burger-menu {
    display: none;
    font-display: $main-font;
    @media(max-width: 600px) {
        display: block;
    }
}

.menu-container {
    position: absolute;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    left: 0;
    top: 0;
    transition-delay: .3s;
}

.menu {
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: #94855e;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

#hamburger {
    display: none;
}

label {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 0;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 200;
    cursor: pointer; // tap-highlight-color: transparent;
    &:before {
        content: "";
        position: absolute;
        top: 65%;
        left: 65%;
        width: 1em;
        height: 0.15em;
        background: white;
        box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
        transform: scale(2);
    }
}

#hamburger:checked~.menu-container {
    width: 30vw;
    height: 100vh;
    transition-delay: 0s;
}

#hamburger:checked~.menu-container .menu {
    width: 250vh;
    height: 250vh;
    transition: all .3s;
}

.menu-container .links {
    position: absolute;
    left: 15vw;
    top: 50vh;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
    a {
        display: block;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        margin: 3rem;
    }
}

.content {
    padding: 3rem 10rem;
    transition: all .2s;
    transition-delay: .1s;
    h1 {
        font-size: 2rem;
        color: #212529;
    }
    h1:not(.header) {
        margin-top: 4rem;
    }
    p {
        margin-top: 2rem;
        color: #495057;
    }
}

#hamburger:checked~.content {
    padding-left: 35vw;
    transition: all .2s;
    transition-delay: 0s;
}